body {
    font-family: Arial, Helvetica, sans-serif;
}

#map {
    height: 100%;
    width: 70%;
}

.view-border {
    display: flex;
    height: 100%;
    width: 100%;
}

#anchor {
    width: 30%;
}

.user-interface {
    overflow-y: auto;
    overflow-x: hidden;
}

.search-form, .user-interface {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 30%;
    z-index: 99;
    background-color: white;
    margin: 4px;
}

.track-preview {
    width: calc(100% - 1vw);
    height: fit-content;
    border-style: solid;
    border-color: black;
    border-width: 1px;
    padding: 5px;
    margin-right: 5vw;
    position: relative;
    display: inline-block;
}

.nav-button {
    width: calc(100% - 1vw);
    height: 4vh;
    border-style: solid;
    border-color: black;
    border-width: 1px;
    padding: 5px;
    margin-right: 5vw;
    line-height: 4vh;
    font-size: large;
}

.track-preview:hover, .nav-button:hover {
    background-color: rgba(220, 220, 220);
}

.track-preview input {
    height: 20px;
    width: 20px;
    position: absolute;
    right: 1vw;
    top: 50%;
    transform: translateY(-50%);
}

.search-input {
    margin: 2vh;
    height: 6vh;
}
