<html>
    <head>
        <title>
            Karte
        </title>
        <link rel="stylesheet" href="/leaflet_css">
        <link rel="stylesheet" href="../static/css/map.css">
        <script src="/leaflet_js"></script>
    </head>
    <body>
        <div class="view-border">
            <div id="anchor">
                <div class="user-interface">
                    <div class="nav-button" onclick="toggleSearchForm()">
                        Suchen ...
                    </div>
                    <div class="nav-button" id="import-button">
                        Daten importieren
                    </div>
                    {% for track in tracks %}
                    <div class="track-preview">
                        <div>{{ track[1] }}</div>
                        <div>Start: {{ track[4].strftime('%Y-%m-%d %H:%M:%S') }}</div>
                        <div>Ende: {{ track[5].strftime('%Y-%m-%d %H:%M:%S') }}</div>
                        <input type="checkbox" onclick='toggle_track("{{ track }}")'>
                    </div>
                    {% endfor %}
                </div>
            </div>
            <div id="map"></div>
        </div>
        <script src="{{ url_for('static', filename='js/map_logic.js') }}"></script>
    </body>
</html>